@model IEnumerable<BBS.Models.Node>

@{
    ViewData["Title"] = "节点管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>节点管理</h2>

<p>
    <a asp-action="Create">创建新节点</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsParent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddTime)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsParent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NodeId">修改</a> |
                <a asp-action="Details" asp-route-id="@item.NodeId">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.NodeId">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
