@model BBS.Models.Reply

@{
    ViewData["Title"] = "删除";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>删除</h2>
<div>
    <h4>回复</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsTopic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTopic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TopicId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReplyId" />
        <input type="submit" value="确认删除" class="btn btn-default" /> |
        <a asp-action="Index">返回首页</a>
    </form>
</div>
