@model IEnumerable<BBS.Models.Reply>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsTopic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTime)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReplyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReplyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReplyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
