@model IEnumerable<BBS.Models.Reply>

@{
    ViewData["Title"] = "回复管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>回复管理</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsTopic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastTime)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTime)
            </td>
            <td>
                <a href="~/Topic/@item.TopicId">@Html.DisplayFor(modelItem => item.Topic.Title)</a>
            </td>
            <td>
                <a href="~/Account/UserInfo/@item.UserId">@Html.DisplayFor(modelItem => item.User.UserName)</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ReplyId">详情</a> @*|
                <a asp-action="Delete" asp-route-id="@item.ReplyId">删除</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
