@model BBS.Models.NodeRecord

@{
    ViewData["Title"] = "详情";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>详情</h2>

<div>
    <h4>NodeRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NodeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Node.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">返回首页</a>
</div>
