@model IEnumerable<BBS.Models.NodeRecord>

@{
    ViewData["Title"] = "节点收藏管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>节点收藏管理</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NodeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddTime)
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="User" asp-action="Details" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.User.UserName)</a>
            </td>
            <td>
                <a asp-controller="Node" asp-action="Details" asp-route-id="@item.NodeId">@Html.DisplayFor(modelItem => item.Node.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddTime)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.NodeRecordId">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.NodeRecordId">详情</a>
                @*<a asp-action="Delete" asp-route-id="@item.NodeRecordId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
